body {
  background-color: white;
  font-family: 'Inter', sans-serif;
}

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 70px);
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 101%;
position:relative;
top:-10;
right: 0.55%;
}

.header { grid-area: 1 / 1 / 2 / 6; }
.menu { grid-area: 2 / 1 / 3 / 6; }

.header{
  background-color: #117FBD;
  color:white;
  position: relative;
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
}
.header a{
    text-decoration: none;
    color: white;
}
footer{
  color:white;
  z-index: 5;
  width: 100.9%;
  height: 100px;
  font-size: 20px;
  text-align:center;
  position: relative;
  left: -0.5%;
  bottom: -1%;
  background-color: #117FBD;
}

.consol{
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  margin-bottom: 50px;
  align-items:center;
}

.consol h1{
  color: #107C10;
font-style: italic;
  font-size: 700%;
}

.consol h3{
  color: #107C10;
    font-size: 200%;
}
.xboxs{
  align-items: center;
  display: grid;
  grid-template-columns: 15% 15% repeat(2, 20%) 15% 15%;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.consol p{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 130%;
}

.pic_xbox{
  float: left;
   grid-area: 1 / 2 / 2 / 3;
}
.text_xbox{
  float: left;
  grid-area: 1 / 3 / 2 / 4;
  font-size: 100%;
  text-align: left;
}
.pic_xbox1{
  float: left;
  grid-area: 1 / 5 / 2 / 6;
}
.text_xbox1{
  float: left;
    grid-area: 1 / 4 / 2 / 5;
  font-size: 100%;
  text-align: right;
}

.cards{
  margin-bottom: 50px;
  margin-top: 50px;
}

.cards img{
  margin-left: 10px;
  width: 30%;
  border-radius: 60px;
}
.cont{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 130%;
}
.accessories img{
  width: 15%;
  height: 15%;
  margin-left:5%;
  margin-right:5%;
}

.products{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  margin-top:5%;
}
.products a{
  font-weight: bold;
}
.product{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 10px solid #107C10;
  border-radius: 40px;
  padding: 2%;
}
.product button{
  font-size: 100%;
  background: #107C10;
  border: 0;
border-radius: 20px;
color:white;
width: 100%;
height: 10%;
}
@media (orientation: portrait){
  .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 70px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 101%;
  position:relative;
  top:-10;
  right: 0.55%;
  }

  .header { grid-area: 1 / 1 / 2 / 6; }

  #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 11;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #179ae3;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 10;
  }
  /* элементы меню */
  .menu_elem {
    display: block;
    padding:30px 24px;
    color: white;
    font-size: 40px;
    text-decoration: none;
  }
  .menu_elem:hover {
    background-color: #179ae3;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }
.menu button{
  opacity: 0;
}
}
@media (orientation:landscape){
  #menu__toggle {
    opacity: 0;
  }
  .menu{
    padding-right: 15%;
    padding-left: 15%;
    background-color: #179ae3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 500;
    font-size: 22px;
  }

  .menu a{
    text-decoration: none;
    color: white;
  }

  .menu button{
    background-color: rgba(28,28,28,0);
    border: 0;
    height: 100%;
    color: white;
    font-weight: 500;
    font-size: 22px;
  }

  .menu_elem{
    line-height: 70px;
    height: 100%;
  }

  .menu_elem:hover{
    background-color: #117FBD;
  }
  .dropdown-content {
    background-color: #179ae3;
    display: none;
    position: absolute;
    z-index: 1;
  }

  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #117FBD;}

  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {display: block;}

  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {background-color: #117FBD;}
}
